@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This app doesnt store data anywhere except in memory. It requires access to your profile and your presence to display it but does not report any of the information anywhere else</p>
